.menu-body {
  height: 99vh;
  left: 0px;
  top: 0px;

  background: #ffffff;
}

.menu {
  /* position: absolute; */
  margin-top: 40%;
  text-align: left;
}

.menu-item {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  top: 50%;
  /* left: 50%; */
  color: #7a7a7a;
  padding-left: 5%;
  text-decoration: none;
}

.menu-item.active {
  background-color: rgba(0, 171, 208, 0.37);
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
}

.menu-item:hover {
  color: rgba(0, 171, 208, 0.37) !important;
}

.menu-footer {
  /* position: absolute; */
  margin-top: 55vh;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-left: 5%;
  text-decoration: none;
}

/* Menu Icon */
.hamb{
  cursor: pointer;
  float: left;
  padding: 10px 10px;
  margin-top: 20px;
}/* Style label tag */

.hamb-line {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}