.home {
  height: 98vh;
  color: #7a7a7a;
  background: #ffffff;
  text-align: left;
}

.home-header {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px
}

.home-body {
  padding-left: 20px;
  padding-top: 10px;
  /* min-height: 100vh; */
  display: flex;
}

input {
  border: none;
  border-bottom: 1px solid #7a7a7a;
  width: 90%;
  background: transparent;
}

input:focus {
  outline: none;
}

.text-header {
  margin-top: 15%;
  width: 100%;
}

.search {
  visibility: visible;
}

.attribute-item {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.check-input {
  width: 1em;
  height: 1em;
  /* vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center; */
}

.table-body:nth-child(odd) {
  background: #D9D9D9;
}

.table-body {
  background: #F6F6F6;
  border-radius: 5px;
}

.table-title, .table-body{
  text-align: left;
  color: #000;
}

.table-title {
  border-bottom: 1px solid #7D7D7D;
  border-top: 1px solid #7D7D7D;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.bleft {
  border-left: 1px solid #7D7D7D;;
}

.start-body {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.authen-item {
  text-decoration: none;
}

.authen-item:hover {
  color: #00abd0 !important;
}

.search-result {
  /* visibility: hidden; */
  /* display: none; */
  text-align: left;
  width: 100%;
}

.non-active {
  display: none !important;
}