.infor-item {
  padding-bottom: 40px;
}

.text-line {
  line-height: 29px;
}

.update-content {
  padding-top: 3%;
  text-align: left;
}

.input-short {
  width: 30%;
  border-bottom: 1px solid #D9D9D9;
}