.progress-bar-custome {
    width: 100%;
    color: #005a6e;
    padding: 5px 15px 5px 15px;
    background: rgba(0, 170, 208, 0.156);
    font-family: "Inter" !important;
    font-weight: 600;
    border-radius: 10px;
}

.progress-bar-layer{
    border-radius: 5px;
    width: 80%;
    height: 5px;
    background: #a8a8a8;
    margin-top: 2px;
    margin-bottom: 2px;
}

.progress-bar-fill {
    border-radius: 5px;
    height: 5px;
    background: #00ABD0;
    transition: width 0.5s ease-out;
}

